.hoofdtitel{
	font-size: 36px;
	line-height: 36px
}

.midt{
	font-size: 32px
	line-height: 32px
}

.conting, .contbr{
	margin-bottom: 40px
}
ul li{
	margin-bottom: 10px
}

ol li{
	margin-bottom: 20px
}


